<div class="container">
  <img
    class="avatar outlined_box_4px"
    src="{{avatarData}}"
    alt=""
  />
  <div class="fullname">
    <div class="montserrat outlined_text_2px" style="font-size: 30px">
      {{ name }}
    </div>
    <div class="open-sans username">@{{ username }}</div>
  </div>
  <div class="description open-sans">
    {{ description }}
  </div>
  <div class="data open-sans">
    <div class="birthday">
      <i class="fa-solid fa-cake-candles"></i>
      {{ birthday }}
    </div>
    <div class="register_date">
      <i class="fa-solid fa-calendar-days"></i>
      {{ registerDate }}
    </div>
  </div>
</div>
