
<div class="contenedor-principal">
  <h1 class="title">GAMESFORALL</h1>
  <button mat-button class="icon-button" routerLink="/dashboard">
    <mat-icon class="button-icon">dashboard</mat-icon>Panel de control
  </button>
  <button mat-button class="icon-button" routerLink="/user">
    <mat-icon class="button-icon">group</mat-icon>Usuarios<mat-icon>arrow_forward</mat-icon>
  </button>
  <button mat-button class="icon-button" routerLink="/categories">
    <mat-icon class="button-icon">category</mat-icon>Categorias
  </button>
  <button mat-button class="icon-button" routerLink="/platforms">
    <mat-icon class="button-icon">games</mat-icon>Plataformas
  </button>
  <button mat-button class="icon-button" (click)="doLogOut()">
      <mat-icon class="button-icon">exit_to_app</mat-icon>Cerrar sesión
  </button>
</div>


