.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 84vh;
}

.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 476px;
  width: 600px;
  background-color: #e8dcbf;
  margin: 0px 35px;
  padding: 0px 25px;
}
span {
  display: inline-block;
}

.logo {
  width: 100%;
  margin: 0px 25px;

}
.title {
  margin: 48px 48px 48px 64px;
  font-size: 43px;
}
@media screen and (max-width: 650px) {
  span{
    visibility: collapse;
  }
  .logo {
    visibility: collapse;
  }
}
.login_button {
  align-self: center;
  width: 90%;
  margin: 30px 0px;
}
.input {
  margin-top: 15px;
}
