<div
  class="container outlined_box_4px"
  (click)="emitEvent()"
  [ngStyle]="{ background: 'url(' + ingredientImgData + ')' }"
>
  <div class="user_row">
    <img class="outlined_box_4px avatar" src="{{ authorAvatarData }}" alt="" />
    <div class="user_info">
      <p
        class="outlined_text_2px_no_shadow open-sans"
        style="font-size: 16px; font-weight: 800"
      >
        {{ ingredient.author.fullname }}
      </p>
      <p class="open-sans username" style="font-weight: 800">
        @{{ ingredient.author.username }}
      </p>
    </div>
  </div>
  <div class="recipe_row">
    <div class="recipe_name open-sans outlined_text_2px">
      {{ ingredient.name }}
    </div>
  </div>
</div>
