.container {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: auto;
    min-width: 310px;
    max-width: 500px;
    filter: brightness(0.85);
    margin-bottom: 24px;
    background-size: cover;

  }
  .container:hover {
    filter: brightness(1);
  }
  .container:active {
    box-shadow: 0px 0px 0px 0px black;
    filter: brightness(1);
    transform: translateY(4px);
  }
  .container_selected {
    box-shadow: 0px 0px 0px 0px black;
    filter: brightness(1);
    transform: translateY(4px);
  }
  .user_row {
    display: flex;
    flex-direction: row;
    height: 100px;
  }
  .avatar {
    height: 52px;
    width: 52px;
    border-radius: 50px;
    margin: 8px;
    object-fit: cover;
  }
  .user_info {
    display: flex;
    flex-direction: column;
    margin: 8px 0px 18px 0px;
  }
  .username {
    transform: translateY(-12px);
  }
  .duration {
    transform: translate(2px,-2px);
    display: flex;
    flex-direction: column;
    height: 64px;
    width: 50px;
    background-color: #639a37;
    margin-left: auto;
  }
  .duration p , .duration span{
  
    font-size: 18px;
    text-align: center;
    line-height: 160%;
    font-weight: 800;
  }
  .recipe_row {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  .recipe_name {
    font-weight: 800;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 15px;
  }

  