<ng-container *ngIf="loading">
  <div class="overlay"></div>
  <mat-progress-spinner
  [mode]="'indeterminate'"
  color="accent"
></mat-progress-spinner>
</ng-container>
<div class="container">
  <app-header></app-header>
  <div class="horizontal_container" *ngIf="isLoggedIn">
    <app-sidebar class="side"></app-sidebar>
    <div class="outlined_box_4px box">
      <router-outlet></router-outlet>
    </div>
    <ng-container *ngIf="!checkHome()">
      <span class="buttons">
        <app-custom-button
          btnStyle="green_active"
          label="+"
          [verticalPadding]="20"
          [fontSize]="50"
        ></app-custom-button>
        <app-custom-button
          btnStyle="green_active"
          label="✏️"
          [verticalPadding]="20"
          [fontSize]="40"
        ></app-custom-button>
        <app-custom-button
          btnStyle="green_active"
          label="-"
          [verticalPadding]="20"
          [fontSize]="50"
        ></app-custom-button>
      </span>
    </ng-container>
  </div>
  <router-outlet *ngIf="!isLoggedIn"></router-outlet>
  <app-footer></app-footer>
</div>
