table {
  width: 100%;
}

.mat-form-field{
  font-size: 14px;
  width: 100%;
}

.users-title {
  margin: 20px 0 0 40px;
  font-size: 32px;
  font-family: 'Arial', sans-serif;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  font-weight: bold;
}

th{
  text-align: center;
}

td{
  text-align: center;
}

.mat-header-cell{
  text-align: center;

}

.mat-raised-button{
  background-color: #38b6ff ;
}
