.sell-history-title {
  margin: 20px 0 0 40px;
  font-size: 32px;
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(45deg, #007bff, #00bcd4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
