.grid-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.artworks-title {
  margin: 20px 0 0 40px;
  font-size: 32px;
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(45deg, #007bff, #00bcd4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}


.artwork-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
}

.grid-item:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.artwork-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.artwork-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-button {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 12px;
  padding: 8px 16px;
}
