<footer class="footer pt-3 mt-4">
    <div class="container-fluid">
        <div class="row justify-content-lg-between">
        <div class="col-lg-3 mb-lg-0 mb-4">
            <ul class="nav nav-footer justify-content-center">
            <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">Pedidos</a>
            </li>
            <li class="nav-item">
                <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Restaurantes</a>
            </li>
            <li class="nav-item">
                <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">Platos</a>
            </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="nav nav-footer justify-content-center">
            <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Twitter</a>
            </li>
            <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">Facebook</a>
            </li>
            <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">Instagram</a>
            </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="nav nav-footer justify-content-center">
            <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Ayuda</a>
            </li>
            <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">Reportar una incidencia</a>
            </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="nav nav-footer justify-content-center">
            <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank"><img src="../../../../assets/img/logos/logo_black.png" class="nav-logo" alt="Logo meal"></a>
            </li>
            <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">Copyright 2023 Meal Sevilla ©</a>
            </li>
            </ul>
        </div>
        </div>
    </div>
</footer>