<mat-toolbar color="primary">

  <mat-toolbar-row color="primary" class="gradient-toolbar">
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon >menu</mat-icon>
    </button>
    <h1 style="margin: auto;">Flallery</h1>
    <img style="height: 80%; border-radius: 10%;" src="../../../assets/8266afd59e5dbcd0f732de33b3235c71.jpg" alt="">
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" style="width:200px;">
    <mat-nav-list>

      <mat-list-item routerLink="/pages/dashboard">
        <mat-icon matListItemIcon >dashboard</mat-icon>
        <a mat-line>Home</a>
      </mat-list-item>

      <mat-list-item routerLink="/pages/users">
        <mat-icon matListItemIcon >group</mat-icon>
        <a mat-line>Users</a>
      </mat-list-item>

      <mat-list-item routerLink="/pages/artwork">
        <mat-icon matListItemIcon >yard</mat-icon>
        <a mat-line>Artworks</a>
      </mat-list-item>

      <mat-list-item routerLink="/pages/categorias">
        <mat-icon matListItemIcon >category</mat-icon>
        <a mat-line>Categories</a>
      </mat-list-item>

      <mat-list-item routerLink="/pages/historial_ventas">
        <mat-icon matListItemIcon >edit_note</mat-icon>
        <a mat-line>Hist. Ventas</a>
      </mat-list-item>

      <mat-list-item routerLink="/login">
        <mat-icon matListItemIcon >logout</mat-icon>
        <a mat-line>Log out</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

