<div class="container">
  <div class="container_home">
    <div class="main_panel outlined_box_0px">
      <div class="main_content">
        <span class="home montserrat outlined_text_2px">Users</span>
        <div class="columns">
          <div class="recipes_column">
            <span
              class="montserrat outlined_text_2px_no_shadow"
              style="font-size: 18px; margin-bottom: 8px"
              >Recipes</span
            >
          </div>
          <div class="ingredients_column">
            <span
              class="montserrat outlined_text_2px_no_shadow"
              style="font-size: 18px; margin-bottom: 8px"
              >Ingredients</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="selected_panel outlined_box_0px">
      <div style="width: 100%">buenas</div>
    </div>
  </div>
</div>
